
/* GLOBAL  */

p,h1,h2,label,button,input, select{
    font-family: 'Open Sans', sans-serif;
}
p,h1,h2,label{
        color:#2e2e2e;
}

input, select{
    display:block;
    position:relative;
    padding: 1.25rem 1.5rem 1.25rem 15px;
    min-width:100%;
    margin-top:1rem;
    background-color:#ffffff;
    border: 1px solid  #d7d9db;
    font-size:1rem;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}

select{
    background-image:url('./down-arrow.png');
    background-size:20px;
    background-repeat:no-repeat;
    background-position: bottom 20px right 20px;
    appearance:none; 
    -moz-appearance:none; 
    -webkit-appearance:none;
}

button{
        display:block;
        padding: 1rem 1.65rem;
        background-color:transparent;
        border: 2px solid #0388fc;
        cursor:pointer;
        color:#0388fc;
}

.g-container{
    margin:auto;
    max-width: 1340px;
}

/* APP BANNER  */
.app-banner{
        position: relative;
        min-width: 100%;
}

.app-banner_theme{
    background-color:#f6f6f6;
    z-index:1;
}

.app-banner .app-banner__block{
        padding:4rem 0 4rem;
}

.app-banner .app-banner__header{
    text-align: center;
}

.app-banner .app-banner__header .app-banner__header--title{
        margin-bottom: 0.75em;
        font-size: 0.875rem;
        font-weight: 700;
        color: #c3c3c3;
        text-transform: uppercase;
        letter-spacing: 0.1em;
}

.app-banner .app-banner__header .app-banner__header--desc{
    margin-top:1.5rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

/* APP SEARCHER  */

.app-searcher{
    position: relative;
    min-width: 100%;
}

.app-searcher_theme{
    z-index:1;
}

.app-searcher .app-searcher__block{
    padding:4rem 0 4rem;
}

.app-searcher .app-searcher__inner{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 15rem;
}

.app-searcher .app-searcher__header{
    text-align: center;
}

.app-searcher .app-searcher__header .app-searcher__header--title{
    margin-top:1.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.app-searcher__form{
        display:block;
        margin-top:2rem;
}

.app-searcher__form .app-searcher__form-group{
    max-width:550px;
    margin-bottom:2rem;
}

.app-searcher__form .app-searcher__form-group .app-searcher__form-group--label{
    margin-bottom:1rem;
}

.app-searcher__form-alert{
        min-width:100%;
        padding:1rem 1.5rem;
        background-color: #26bf5c;;
}

.app-searcher__form-alert-desc{
        margin-top:1rem;
        line-height:2rem;
        color:#ffffff;
}
